body {
	background: #020407;
}

h1,h2,p {
	color: #ffffff;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;

	.row {
		padding-top: 100px;
	}
}

.forest-bg {
	background: url("images/bg-header.jpg") center center no-repeat;
	background-size: cover;
	height: 400px;


	.absolute-bg {
		position: absolute;
		left: 0;
		right: 0;
		height: 400px;
		background-color: rgba(5, 5, 5, 0.5);
		transition: .2s ease-in;
	}

	.photo-wrap {
		height: 400px;
		.photo-bg {
			height: 100%;
			width: auto;
		}
	}

	&:hover {
		.absolute-bg {
			background-color: rgba(5, 5, 5, 0.8);
			transition: .2s ease-in;
		}
	}
}

.about {
	padding: 200px 50px 50px;

	.blue-bg {
		background: rgba(31, 91, 179, 0.8);

		.about-image {
			padding-right: 0;

			> img {
				width: 100%;
				height: auto;
				transform: translate(-50px,-50px);
			}
		}
	}
}

.carousel {
	width: 500px;
	margin: 0 auto;
}